/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');


/* Define light and dark mode color variables */
:root {
  --background: white; /* Light mode background */
  --foreground: black ; /* Light mode text color */
  --customwidth: 920px; /* Custom width (light mode) */
}

/* Dark mode system preference */
@media (prefers-color-scheme: dark) {
  :root {
    --background: black; /* Dark mode background */
    --foreground: white; /* Dark mode text color */
    --customwidth: 920px; /* Custom width (dark mode) */
  }
}

/* Apply custom background and foreground variables */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'General Sans', sans-serif;
}


/* Apply the same background color to the header */
header {
  background-color: var(--background); /* Will change based on the theme */
  
}

/* Tailwind's dark mode styles using class */
@layer base {
  html.dark {
    /* Dark mode background and text color when the 'dark' class is added to the <html> element */
    --background: black; /* Dark background */
    --foreground: white; /* Light text color */
    --customwidth: 920px; /* Custom width (dark mode) */
  }
}
